.profile__image{
  border-radius: 50%;
  max-width: 120px;
  height: 120px;
  padding-right: 0;
  margin: 0;
}
@media screen and (max-width: 904px) {
  .profile__image {
    margin: 0 auto;
  }
}
.profile__image:hover{
  background-color: rgba(0, 0, 0, 0.8);
  opacity: .8;
  cursor: url(../../../images/Cursor.svg), auto;
  transition: all 0.3s linear;
}
